name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    uses: SylphxAI/.github/.github/workflows/publish-npm.yml@6243f531fe7381bf1dc8f70861767bb5878ac877
    with:
      bun-version: '1.3.1'
    secrets: inherit
